Repository mirceaulinic/salt-sproxy, pull requests merged in 2020-02, with the labels that each got.

#79 Add file Roster and Grains load from Roster opts
  salt_sproxy/_roster/file.py
  salt_sproxy/_runners/proxy.py
Labels: bug, core, roster

#80 Load cached Grains when targeting toghether with existing Minions
  salt_sproxy/_runners/proxy.py
Labels: core, enhancement

#81 Optimise the cache-based targeting
  salt_sproxy/_roster/__init__.py
  salt_sproxy/_roster/file.py
  salt_sproxy/_runners/proxy.py
Labels: core, enhancement, roster

#83 Fixed typo in cli import
  salt_sproxy/cli.py
Labels: bug, core, salt 3000

#87 Release notes for 2020.2.0
  docs/man/salt-sapi.1
  docs/man/salt-sproxy.1
  docs/opts.rst
  docs/releases/2020.2.0.rst
  docs/releases/index.rst
  docs/salt_api.rst
  docs/salt_sapi.rst
  examples/salt_sapi/README.rst
Labels: documentation, release

#86 Release 2020.2.0
  docs/man/salt-sapi.1
  docs/man/salt-sproxy.1
  docs/opts.rst
  docs/quick_start.rst
  docs/releases/2020.2.0.rst
  docs/releases/index.rst
  docs/roster/file.rst
  docs/roster/index.rst
  docs/salt_api.rst
  docs/salt_sapi.rst
  examples/README.rst
  examples/file_roster/README.rst
  examples/pillar_roster/README.rst
  examples/salt_sapi/README.rst
  requirements-dev.txt
  salt_sproxy/_roster/__init__.py
  salt_sproxy/_roster/file.py
  salt_sproxy/_runners/proxy.py
  salt_sproxy/cli.py
  setup.py
Labels: release

#89 Fix typo that breaks Grain PCRE matching
  salt_sproxy/_roster/__init__.py
Labels: bug, grains, roster

#90 Port PR #89 to master
  salt_sproxy/_roster/__init__.py
Labels: release

#92 Better integration with the existing proxies and speed up the execution
  salt_sproxy/_runners/proxy.py
Labels: core, enhancement

#93 Release 2020.3.0rc1
  salt_sproxy/_runners/proxy.py
  setup.py
Labels: release

#94 Fix grain targeting when using static Grains
  salt_sproxy/_roster/__init__.py
Labels: bug

#95 Send error data to the returner, retcode, and some docs
  LICENSE
  README.md
  README.rst
  salt_sproxy/_roster/__init__.py
  salt_sproxy/_runners/proxy.py
  salt_sproxy/cli.py
  salt_sproxy/parsers.py
Labels: core, enhancement
